<nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Ryouri</a>
      <ul class="right hide-on-med-and-down">
        <li><a href ="/reviews/new" class="waves-effect waves-light btn">New Recipe</a></li>
      </ul>
    </div>
  </nav>
