<nav class="navbar navbar-dark bg-dark justify-content-between">
    <a class="navbar-brand" style="color: white" href="/">Ryouri</a>
    <form class="form-inline my-2 my-lg-0">
        <a class="nav-link" href="/reviews/new">New Recipe <span class="sr-only">(current)</span></a>
    </form>
</nav>
