<!-- views/partials/reviews-form.handlebars -->
<br>

<fieldset>
    <legend>Edit Recipe</legend>
    <div class="form-group">
        <label for="review-title">Recipe Title</label><br>
        <input class="form-control input-lg"id="review-title" type="text" name="title" value="{{review.title}}" />
    </div>

    <!-- RECIPE TITLE -->
    <div class="form-group">
        <label for="recipe-title">Recipe Author</label><br>
        <input class="form-control input-lg"id="recipe-title" type="text" name="recipeTitle" value="{{review.recipeTitle}}" />
    </div>

    <!-- SERVING SIZE -->
    <div class="form-group">
        <label for="serving-size">Serving Size</label><br>
        <input class="form-control input-lg"id="serving-size" type="text" name="servingSize" value="{{review.servingSize}}" />
    </div>

    <!-- DESCRIPTION -->
    <div class="form-group">
        <label for="review-description">Description</label><br>
        <textarea class="form-control input-lg"id="review-description" name="description" rows="10" />{{review.description}}</textarea>
    </div>

    <!-- RATING -->
    <div class="form-group">
        <label for="recipe-difficulty">Recipe Difficulty</label>
        <select name="difficulty">
            <option value="" disabled selected>Choose your difficulty</option>
            <option value="Easy">Easy</option>
            <option value="Medium">Medium</option>
            <option value="Hard">Hard</option>
        </select>
    </div>
</fieldset>
