<br>
<h1>Most Recent Recipes</h1>
<hr>
<br>

<div class="row">
    {{#each reviews}}
    <div class="col-sm-3">
        <h2><a href="/reviews/{{this._id}}">{{this.title}}</a></h2>
        <h5>By: {{this.recipeTitle}}</h5>
        <small>Difficulty: {{this.difficulty}}</small>
    </div>
    {{/each}}
</div>
